/*#copy01_01 > div, #copy01_02 > div, #copy01_03 > div {*/
#Stage_copy01_01 > div, #Stage_copy01_02 > div, #Stage_copy01_03 > div, 
#Stage_copy01_alt01 > div, #Stage_copy01_alt02 > div, 
#Stage_copy02_01 > div, #Stage_copy02_02 > div, #Stage_copy02_03 > div {
	display:inline-block !important;
}
/*
#Stage_bottle {
	mix-blend-mode: multiply;
 }
*/ 

.particle {
	/*border: 2px #0000FF inset;*/

	width: auto;
	height: auto;

	display: inline-block;
	position: absolute;
}

/*#Stage_logo_ds {*/
svg, svg > * {
	/*border: 2px #0000FF inset;*/

	overflow: visible !important;
}