/* #region ==================== MARK: .appContainer - NG ==================== */

/* .appContainer * {
	border: 1px inset #ff0000;

	font-family: ChaleParNinSix, system-ui, Avenir, Helvetica, Arial, sans-serif;
	letter-spacing: 0.0375rem;
	font-family: AvenirNext-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-family: AvenirNext-Regular, system-ui, Helvetica, Arial, sans-serif;
	letter-spacing: -0.05rem;
	color: #ffffff;

	margin: 0;
	padding: 0;
} */

/* #endregion ==================== .appContainer - NG ==================== */


/* #region ========================= MARK: .wrapper - NG ========================= */

/* .wrapper {
	border: 1px inset #ff0000;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;
} */

/* #endregion ========================= .wrapper - NG ========================= */


/* #region ==================== MARK: .hedContainer ==================== */

/* .hedContainer * { */
.hedWrapper * {
	/* border: 1px inset #ff0000; */

	/* font-family: ChaleParNinSix, system-ui, Avenir, Helvetica, Arial, sans-serif;
	letter-spacing: 0.0375rem;
	font-family: AvenirNext-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
	letter-spacing: -0.05rem;
	color: #ffffff; */

	margin: 0;
	padding: 0;
}

.hedWrapper {
	/* border: 1px inset #ff00ff; */
	/* background-color: #000000; */
	background: var(--hed-BGgradient);
	/* background: linear-gradient(0deg,rgba(255, 255, 255, 1) var(--hed-BGgradient_edge), rgba(0, 0, 0, 1) var(--hed-BGgradient_edge), rgba(0, 0, 0, 1) 100%); */

	width: 100vw;

	margin: 0;
	/* padding: 0; */
	/* margin-left: -30px; */
	/* padding: 0; */
	padding: 0 0 1rem 0;
	/* padding: 0 2.5rem 0.5rem 0; */
	/* padding: 1rem 0 0 0; */

	/* mix-blend-mode: multiply; */

	/* overflow: visible; */

	position: fixed;
	/* position: sticky; */
	top: 0;
	left: 0;
	z-index: 998;

	/* display: none; */

	/* .hedContainer * {
		border: 1px inset #ff0000;
	} */

	.hedContainer {
		/* border: 1px inset #ff0000; */
		/* background: #000000; */

		width: inherit;
		/* width: var(--body-max-width); */
		/* min-width: var(--body-max-width); */
		max-width: var(--body-max-width);
		/* max-height: var(--logo-max-height); */

		margin: auto;
		padding: var(--hedPadding);

		display: grid;
		/* grid-template-columns: 22.5% 77.5%; */
		grid-template-columns: 10% 90%;

		align-items: start;
		/* align-items: baseline; */
		/* align-items: end; */
		/* align-items: 60%; */


		.logo {
			/* border: 1px inset #00ffff; */

			/* filter: invert(100%); */
			mix-blend-mode: difference;
			/* background-blend-mode:difference; */

			/* REF: https://nekocalc.com/px-to-rem-converter *** Calculation based on a root font-size of 15 pixel!!! *** */
			/* margin: 0 0 0 -30px; */
			margin: 0 0 0 -2rem;
			/* padding: 1rem 0 0 0; */
			/* padding: 0 0.5rem 0 0; */
			padding: 1rem 0.5rem 0 0;

			grid-area: span 2 / 1 / 2;

			/* img {
				height: inherit;
				max-height: var(--logo-max-height);
			} */
		}

		.hed {
			/* border: 1px inset #ff0000; */

			color: #ffffff;
			/* color: #ff0000; */

			line-height: 1.625rem;

			/* margin: 0; */
			margin: 1.375rem 0 0 0;
			/* margin: var(--hed-margin); */
			padding: 0;

			display: grid;
			grid-template-columns: 75% 25%;
			align-items: end;

			.hed00 {
				/* border: 1px inset #00ff00; */

				.hed01 {
					font-size: 2.375rem;
				}

				.hed02 {
					font-size: 1.25rem;
				}
			}

			.contact {
				/* border: 1px inset #0000ff; */

				/* font-size: 20px;
				line-height: 135%; */

				/* font-size: 1.5rem; */
				/* font-size: 1.25rem; */
				/* font-size: 1rem; */
				font-size: 0.875rem;

				/* line-height: 2rem; */
				/* line-height: 1.625rem; */
				/* line-height: 1.5rem; */
				/* line-height: 1.625rem; */

				text-align: right;

				a, .email {
					font-size: inherit;
					color: #ffffff;
					text-decoration: underline;
					text-decoration-thickness: 1px;
					text-decoration-color: #888888;
					/* text-underline-offset: 3.75px; */
					text-underline-offset: 0.375rem;
				}
			}
		}

		.navBarContainer {
			/* border: 1px inset #00ff00; */

			border-bottom: 1px solid #cccccc;
			/* background: #ffffff; */
			mix-blend-mode: multiply;

			/* width: inherit; */
			width: 100vw;
			/* min-width: var(--body-max-width); */
			/* max-width: var(--body-max-width); */
			/* max-width: var(--body-min-width); */
			height: var(--navBar-height);

			margin: auto;
			/* margin: 0 500px; */
			padding: 0;
			/* padding: inherit; */
			/* padding: 0 2.5rem 0 0; */
			/* padding: var(--hedPadding); */
			/* padding: calc(var(--hedPadding) * 2); */
			/* padding: var(--navPadding); */

			overflow: visible;

			position: fixed;
			left: 50%;
			transform: translateX(-50%);
			top: var(--header-height);
			z-index: 990;

			.navBar {
				/* border: 1px inset #0000ff; */
				/* background: #ff0000; */
				/* background: #ffffff; */

				/* color: #ffffff; */
				color: #000000;

				/* font-size: 1.125em;
				line-height: 2.25em; */

				font-size: 1.75rem;
				line-height: 2.75rem;

				text-align: center;

				width: inherit;
				max-width: var(--body-max-width);
				height: inherit;

				margin: auto;
				padding: var(--hedPadding);

				display: grid;
				/* grid-template-columns: repeat(6, 16.666666666666667%); */
				/* grid-template-columns: repeat(4, auto); */
				/* grid-template-columns: repeat(5, auto); */
				/* grid-template-columns: repeat(6, auto); */
				grid-template-columns: 2.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1.5fr;

				column-gap: 0;
				align-items: center;

				/* position: fixed; */
				top: var(--header-height);
				/* left: calc(50vw - (var(--body-min-width) * 0.5)); */
				/* left: calc(50vw - (var(--body-min-width) * 0.3875)); */
				/* left: calc(50vw - (var(--body-min-width) * 0.25)); */
				/* left: calc(50vw - (var(--body-min-width) * 0.0625)); */

				/* position: absolute;
				top: 0;
				left: 0;
				right: 0; */

				.navItem {
					/* border: 2px inset #ff0000; */
					/* border-right: 1px solid #cccccc; */

					/* background: none; */

					color: inherit;
					text-decoration: none;

					/* max-width: 10rem; */
					height: inherit;

					/* margin: 0; */
					/* padding: 0; */

					/* margin-top: auto; */

					/* display: flex;
					align-items: center;
					justify-content: center; */
				}

				.active {
					/* border: 2px inset #00ffff; */
					/* background-color: #dddddd; */
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.125) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.125) 100%);

					/* @include bgGradient01(); */
					/* @include bgGradient02(); */
					/* @include bgGradient03(); */
					/* mix-blend-mode: multiply; */

					/* color: #ffffff; */
					/* text-align: center;

					height: inherit;

					position: absolute;
					left: 0; */
				}

				.resumeNav {
					/* border: 1px solid #ff0000; */
					/* background-color: #dddddd; */
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.125) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.125) 100%);

					/* @include bgGradient06(); */
					/* @include bgGradient07(); */
					/* visibility: visible; */

					/* color: #000000; */
					color: inherit;
					/* text-align: center; */
					/* text-align: right; */
					text-decoration: none;

					/* line-height: 1.75em; */
					/* line-height: 2rem; */

					/* width: 15vw; */
					/* width: 175px; */
					/* width: var(--workNav-width); */
					/* height: 25px; */
					/* height: var(--workNav-height); */
					/* height: calc(var(--navBar-height) * 0.75); */
					/* height: var(--navBar-height); */
					height: inherit;

					/* margin: 0; */
					margin: 0 0 0 5rem;
					/* margin: 0 1.25rem 0 0; */
					/* padding: 0; */

					/* position: relative; */
					/* position: inherit; */
					/* position: fixed; */

					/* float: right; */

					/* position: relative; */
					/* z-index: -1; */
					/* z-index: 999; */

					/* display: flex;
					justify-content: center;
					align-items: center; */

					/* cursor: pointer; */

					/* p {
						border: 1px solid #ff00ff;
						height: inherit;
						margin: 0 auto;
						padding: 0;
					} */

					/* a {
						color: inherit;
						text-decoration: none;
					} */
				}
			}
		}

		.navBarContainer_m {
			/* border: 1px inset #ff0000; */

			background: #ffffff;
			/* mix-blend-mode: multiply; */

			/* width: inherit; */
			width: 100vw;
			/* min-width: var(--body-max-width); */
			/* max-width: var(--body-max-width); */
			/* max-width: var(--body-min-width); */
			/* height: var(--navBar-height); */
			height: auto;

			margin: auto;
			/* margin: 0 500px; */
			padding: 0;
			/* padding: inherit; */
			/* padding: 0 2.5rem 0 0; */
			/* padding: var(--hedPadding); */
			/* padding: calc(var(--hedPadding) * 2); */
			/* padding: var(--navPadding); */

			position: fixed;
			left: 50%;
			transform: translateX(-50%);
			top: var(--header-height);
			/* top: 0; */
			z-index: 999;

			.navBar {
				/* border: 1px inset #0000ff; */
				/* background: rgba(255, 0, 0, 0.75); */
				/* background: #ffffff; */

				/* color: #ffffff; */
				color: #000000;

				font-size: 1.75rem;
				line-height: 2.75rem;

				text-align: center;

				width: inherit;
				/* width: fit-content; */

				margin: auto;
				padding: 0;

				/* display: block; */
				display: grid;
				grid-template-rows: auto auto auto auto auto;
				overflow: hidden;

				position: absolute;
				/* top: 0; */
				/* top: 1px; */
				/* top: calc(var(--navBar-height) * -5); */
				/* top: -25rem; */
				top: -25.75rem;
				right: 0;

				.navItem, .resumeNav {
					border-bottom: 1px solid #cccccc;
					/* border-top: 1px solid #cccccc; */
					background: #ffffff;

					font-size: 1.5rem;

					width: inherit;
					height: 5rem;

					margin: inherit;
					padding: inherit;

					display: flex;
					justify-content: center;
					align-items: center;
				}

				.navItem {
					/* border: 1px inset #ff0000; */

					color: inherit;
					text-decoration: none;
				}

				.resumeNav {
					/* border: 1px solid #ff0000; */
					/* background: linear-gradient(0deg, rgba(0, 0, 125, 0.125) 0%, rgba(0, 0, 125, 0) 40%, rgba(0, 0, 125, 0) 60%, rgba(0, 0, 125, 0.125) 100%); */
					background: linear-gradient(0deg, rgba(220, 220, 230, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(220, 220, 230, 1) 100%);

					/* font-size: 1.5rem; */

					/* color: #000000; */
					color: inherit;
					/* text-align: center; */
					/* text-align: right; */
					text-decoration: none;

					/* line-height: 1.75em; */
					/* line-height: 2rem; */

					/* height: 5rem; */

					/* margin: 0;
					padding: 0; */

					/* position: relative; */
					/* position: inherit; */
					/* position: fixed; */

					/* float: right; */

					/* position: relative; */
					/* z-index: -1; */
					/* z-index: 999; */

					/* display: flex;
					justify-content: center;
					align-items: center; */

					/* cursor: pointer; */

					/* p {
						border: 1px solid #ff00ff;
						height: inherit;
						margin: 0 auto;
						padding: 0;
					} */

					/* a {
						color: inherit;
						text-decoration: none;
					} */
				}

				.active {
					/* border: 1px inset #00ffff; */
					/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.125) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.125) 100%); */
					background: linear-gradient(0deg, rgba(220, 220, 220, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(220, 220, 220, 1) 100%);
				}
			}

			.navBurger {
				/* border: 1px inset #00ff00; */

				width: 3rem;
				height: var(--header-height);

				padding: 0 1rem;

				display: flex;
				justify-content: center;
				align-items: center;

				/* display: table-cell;
				vertical-align: middle;
				text-align: center; */

				/* position: absolute; */
				position: inherit;
				/* top: 0; */
				top: calc(var(--header-height) * -1);
				right: 0;

				cursor: pointer;

				.navBurgerImg {
					max-width: 100%;
				}

				/* .burgerRect {
					background-color: #cccccc;

					width: inherit;
					height: 5%;

					margin: 0.5rem 0;
				} */

			}
		}
	}
}

/* #endregion ==================== .hedContainer ==================== */


/* #region ==================== MARK: .dialogModal ==================== */

.dialogModal {
	/* border: 1px inset #ff0000; */
	border: none;

	/* background: rgba(var(--color): #000000, var(--alpha): 0.5); */
	/* @include modalBG(); */
	/* background: rgba(0, 0, 0, 0.25); */
	background: none;


	text-align: center;

	width: 100vw;
	height: 100vh;

	/* width: 100%;
	height: 100%; */

	margin: auto;
	/* margin: 0;
	padding: 0; */

	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
	/* z-index: 999; */
	/* display: inline-block; */

	/* cursor: none; */

	.dialogHotspot {
		/* border: 1px inset #00ff00; */

		/* background: rgba(var(--color): #000000, var(--alpha): 0.5); */
		/* @include modalBG(); */
		/* background: rgba(0, 0, 0, 0.25); */

		text-align: center;

		width: 100vw;
		height: 100vh;

		/* width: inherit;
		height: inherit; */

		/* position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; */
		/* z-index: 999; */
		/* display: inline-block; */

		/* cursor: pointer; */
		/* cursor: none; */
		cursor: auto;
	}

	.dialogBox {
		/* border: 1px inset #00ffff; */
		border: 1px inset #999999;

		/* background: rgba(var(--color): #ffffff, var(--alpha): 1); */
		/* @include modalBG(); */
		/* @include bgGradient01(); */
		background-color: #ffffff;

		/* font-size: 15px;
		line-height: 15px; */

		/* font-size: 1rem;
		line-height: 1rem; */

		/* width: 30vw;
		max-width: 300px; */
		/* width: 60vw;
		max-width: 600px; */
		width: 75vw;
		max-width: 750px;

		/* height: auto; */
		/* height: inherit; */

		margin: 0 auto;
		/* padding: 10px 20px; */
		padding: 1rem 2rem;

		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
		/* z-index: 999; */

		.dialogHed {
			/* border: 1px solid #ff0000; */

			/* font-size: 1.125em; */

			font-size: 1.25rem;

			margin: 0;
			/* padding: 0; */

			/* padding: 10px 0 20px 0; */
			padding: 0.5rem 0;
		}

		.dialogMenuBox {
			/* border: 1px solid #ff0000; */

			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 5%;

			margin: 0;
			padding: 0;

			.dialogMenu {
				/* border: 1px solid #0000ff; */

				/* width: 100%; */
				/* height: 80%; */

				margin: 0;
				padding: 0;

				display: grid;
				/* grid-template-columns: repeat(4, auto); */
				grid-template-columns: repeat(auto, 5);
				/* grid-gap: 5%; */
				grid-gap: 0.5rem;

				p {
					font-size: 1.125rem;
				}

				a {
					/* border: 1px inset #00ff00; */
					border-radius: 3px;

					/* background: rgba(var(--color: #000000, var(--alpha: 0.125); */
					/* @include btnBgRest(); */
					background-color: #cccccc;

					/* color: rgba(var(--color): #000000, var(--alpha): 1); */
					color: #000000;

					/* font-size: 0.875em; */

					font-size: 0.875rem;
					line-height: 0.75rem;

					text-decoration: none;

					/* height: 20%; */
					height: 20%;

					/* margin: 10%; */
					margin: 0;
					padding: 3.75% 0;

					display: flex;
					align-items: center;
					justify-content: center;

					transition: 0.25s;
					/* @include transition(background-color 1s 0.25s, color 0.25s); */
					/* @include transition(0.25s); */
				}

				a:hover {
					/* border: 1px inset #00ff00; */

					/* @include btnBgHover(); */
					transform: scale(1.03125);
				}

				/* .dialogHed02 {
					border: 1px solid #ff0000;

					padding: 10% 0 5% 0;
				} */

				/* .dialogMenu02 {
					border: 1px solid #0000ff;

					grid-template-columns: repeat(auto, 1);
					grid-gap: 5%;
				} */
			}
		}

		.dialogCloseBTN {
			border: none;
			border-radius: 15px;

			background: #eeeeee;

			/* font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; */
			/* font-weight: bold; */
			text-align: center;
			vertical-align: middle;
			/* text-decoration: none; */

			width: 25px;
			height: 25px;

			position: absolute;
			top: 10px;
			right: 10px;
		}

		.dialogCloseBTN:hover {
			background: #cccccc;
		}

		.dialogCloseBTN:focus {
			outline: 0;
		}
	}
}

.dialogModal::backdrop {
	background: hsl(0 0% 0% / 50%);
}

/* .dialogModalOpen {
	z-index: 999;
	display: initial;
}

.dialogModalClosed {
	z-index: 0;
	display: none;
} */

/* #endregion ==================== .dialogModal ==================== */
