@import './App.css';


/* force vertical scrollbar, prevent Packery gap */
/* html {
	overflow-y: scroll;
} */


/* #region ==================== MARK: .homeCanvas => canvas ==================== */

.homeCanvas {
	/* border: 0.5px inset #ff0000; */
	/* background-color: aqua; */

	/* width: 100vw;
	height: 100vh; */

	/* width: inherit;
	height: inherit; */

	/* position: absolute; */
	/* top: 0px; */
	/* top: 10px; */
	/* top: -285px; */
	/* top: -370px; */
	top: calc(var(--header-height) + var(--navBar-height));
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height))); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 5px)); */
	/* top: calc(-1 * (var(--header-height) + var(--navBar-height) + 10px)); */
	/* top: calc(-2 * (var(--header-height) + var(--navBar-height) + 30px)); */
	z-index: 999;

	canvas {
		/* border: 1px inset #00ff00; */
		/* background-color: aqua; */

		/* width: 100%;
		height: calc(100vh - var(--header-height));
		height: calc(100vh - (var(--header-height) + var(--navBar-height)));
		height: calc(100vh - var(--header-height) + var(--navBar-height) + 10px); */

		width: 100vw;
		/* height: 100vh; */
		height: calc(100vh - var(--header-height) - var(--navBar-height));

		/* width: inherit;
		height: inherit; */

		/* width: inherit;
		height: inherit; */

		margin: 0;
		padding: 0;

		/* top: calc(var(--header-height) + var(--navBar-height)); */
		/* z-index: 999; */
	}
}

/* #endregion ==================== canvas ==================== */


/* #region ==================== MARK: .homeHed ==================== */

.homeHed {
	/* border: 1px inset #ff0000; */
	/* background-color: aqua; */

	/* font-family: AvenirNext-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	/* line-height: 2rem; */
	line-height: 3rem;

	/* width: 77.5vw; */
	width: var(--body-min-width);
	/* width: calc(var(--body-min-width) * 0.75); */
	/* width: var(--body-max-width); */

	/* min-width: var(--body-min-width);
	max-width: var(--body-max-width); */
	/* max-width: var(--body-max-width); */

	/* margin: 0; */
	margin: 0 auto;
	/* margin: 0 11.25vw; */
	/* margin: -60vh auto 0 auto; */
	padding: 0;

	position: absolute;
	/* top: 50vh;
	left: 50vw; */
	top: 27.5vh;
	/* top: 30vh; */

	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

	b {
		font-family: AvenirNext-DemiBold, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	i {
		font-family: AvenirNext-Italic, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}

	h1 {
		/* font-size: 3.75em; */
		font-size: 3em;
	}

	h2 {
		font-size: 1.5rem;
		/* line-height: 2rem; */
	}

	.homeDescr {
		/* border: 1px inset #0000ff; */

		font-family: AvenirNext-Italic;
		font-style: italic;
		font-size: 1.125rem;
		line-height: 1.5rem;

		/* width: 40vw;
		margin-top: 15px; */
		/* margin: 2.5rem 0 0 0; */
		margin: 2rem 50% 0 0;

		p {
			font-size: inherit;
			line-height: inherit;
			margin: 0 0 1rem 0;
		}

		.note {
			/* border: 1px inset #0000ff; */

			font-family: AvenirNext-Regular;
			font-size: 0.875rem;
			line-height: 1.25rem;

			margin: 5rem 0 0 0;

			p, b, i {
				font-size: inherit;
				line-height: inherit;

				margin: 1.0625rem 0 0 0;
			}
		}
	}
}

/* .homeHed_d {
	width: var(--body-max-width);

	position: absolute;
	top: 50vh;
	left: 50vw;

	transform: translate(-50%, -50%);
	transform: translate(-50%, -40%);
	transform: translate(-50%, -60%);
} */

/* .homeHed_l {
	width: var(--body-min-width);

	position: absolute;
	top: 50vh;
	left: 50vw;

	transform: translate(-50%, -50%);
	transform: translate(-50%, -30%);
	transform: translate(-50%, -60%);
} */

/* #endregion ==================== .homeHed ==================== */
